<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../penumbra_sdk_fee/component/trait.StateWriteExt.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../penumbra_sdk_fee/component/trait.StateWriteExt.html">../../../penumbra_sdk_fee/component/trait.StateWriteExt.html</a>...</p>
    <script>location.replace("../../../penumbra_sdk_fee/component/trait.StateWriteExt.html" + location.search + location.hash);</script>
</body>
</html>